@charset "UTF-8";

:root {
  --primary: #00f7ff;
  --bg-main: #0f0f1e;
  --font-tech: "Orbitron", sans-serif;
}

:root {
  --bg-main: #0f0f1e;
  --text-main: #ffffff;
}

[data-theme="light"] {
  --bg-main: #f5f5f5;
  --text-main: #111;
}
